node_modules
dist
.git
.vscode
.DS_Store
coverage
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log
yarn-debug.log
yarn-error.log
docker-compose.yml
deploy/
tests/
specifications/
archive/
